extends ../../layout.pug
block contents 
    div
        nav 
            ul
                if String(loggedInUser._id)===String(product.owner._id)
                    li 
                        a(href=`/product/${product.id}/edit`) Edit Product
    div#productCotainer(data-id=`${product.id}`)
        h1 #{product.title} 
        img(src=`/${product.productImg}`)
        p #{product.price}
        p #{product.description}
        img(src=`/${product.descriptImg}`)
    if loggedIn
        div.commentBox
            form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment.")
                button Add Comment
    div.commentView 
        ul.commentView_product
            each comment in product.productComments.reverse() 
                li(data-id=comment.id)
                    span #{comment.text}
                    if loggedIn && (loggedInUser._id === String(comment.owner))
                        span.deleteBtn ❌

block scripts 
    script(src="/static/js/commentSection.js")